<!DOCTYPE html>
<html>

<head>
    <title>Search Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="form-card">
        <br>

        <a href="/" class="home-btn">🏠 Home</a>

        <h1>Search Student</h1>

        <form method="POST">

            <label>Student Name</label>
            <input type="text" name="name" placeholder="Enter student name">

            <input type="submit" value="Search">

        </form>

        {% if students %}

        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Course</th>
            </tr>

            {% for student in students %}

            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[6] }}</td>
            </tr>

            {% endfor %}

        </table>

        {% endif %} {% if request.method == "POST" and not students %}
        <p class="error-message">
            No student found.
        </p>
        {% endif %}

        <br>

    </div>

</body>

</html>